.hero-section {
  background: linear-gradient(90deg, rgba(32, 5, 19, 0.6), rgba(32, 5, 19, 0.6)),
    url(https://cardinalhealth.scene7.com/is/image/cardinalcorpprod/carousel-content-nurse-handing-mom-newborn);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
